
<h1 class="title">
	Plate Weight Calculator
</h1>

<figure class="total">
	<div class="total__value">
		{{ total }}
	</div>
	<figcaption class="total__label">
		Total Weight in LBS
	</figcaption>
</figure>

<ul class="segments">
	<li *ngFor="let segment of segments" class="segments__segment segment">

		<div class="segment__controls controls">
			<button
				aria-describedby="add-plate-icon"
				(click)="removePlate( segment )"
				class="controls__button">
				<svg role="img" class="controls__icon">
					<title id="add-plate-icon">
						Remove {{ segment.weight }}-pound Plate
					</title>
					<use xlink:href="#icon-minus"></use>
				</svg>
			</button>

			<span aria-hidden="true" class="controls__label">
				{{ segment.weight }}
			</span>

			<button
				aria-describedby="remove-plate-icon"
				(click)="addPlate( segment )"
				class="controls__button">
				<svg role="img" class="controls__icon">
					<title id="remove-plate-icon">
						Add {{ segment.weight }}-pound Plate
					</title>
					<use xlink:href="#icon-plus"></use>
				</svg>
			</button>
		</div>

		<app-meter
			[value]="segment.count"
			class="segment__meter">
		</app-meter>

	</li>
</ul>

<div class="base-weight">
	<label for="base-weight-input" class="base-weight__label">
		Base-weight of equipment:
	</label>
	<input
		id="base-weight-input"
		type="number"
		[(ngModel)]="form.baseWeight"
		(input)="applyBaseWeight()"
		class="base-weight__input"
	/>
</div>

<button (click)="clearPlates()" class="clear">
	Clear weight plates
</button>
